body {
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 90px;
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.67));
  top: 0;
}

.img-fresas-1 {
  position: absolute;
}
@media (min-width: 320px) {
  .img-fresas-1 {
    top: 5%;
    margin-left: -10%;
  }
}
@media (min-width: 1080px) {
  .img-fresas-1 {
    top: 0;
    margin-left: 3%;
  }
}

.img-fresas-3 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
}
@media (min-width: 320px) {
  .img-fresas-3 {
    top: 0%;
    right: -2%;
  }
}
@media (min-width: 1080px) {
  .img-fresas-3 {
    top: -3%;
    right: 10%;
  }
}

.mobile-menu {
  display: inline-block;
  margin-left: 73%;
}
.mobile-menu li.bar {
  border: 1px solid #b98b3c;
  border-radius: 1.8px;
  list-style-type: none;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
  background-color: #b98b3c;
}
.mobile-menu li.bar:nth-child(2) {
  width: 20px;
  margin-left: 10px;
}
@media (min-width: 1023px) {
  .mobile-menu {
    display: none;
  }
}

#mobile-menu-links {
  display: none;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
  background-color: #ffffffb8;
}
#mobile-menu-links li {
  padding: 5px;
  list-style-type: none;
}
#mobile-menu-links li a {
  display: inline;
  color: #000000;
  text-decoration: none;
}

.menu {
  display: none;
  width: 80%;
  text-align: right;
  vertical-align: bottom;
}
.menu li {
  vertical-align: middle;
  list-style-type: none;
  display: inline;
  margin-left: 3%;
}
.menu li a {
  display: inline;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 1023px) {
  .menu {
    display: inline-block;
  }
}

.img-logo-vitalinea {
  position: relative;
  margin-top: 18px;
  margin-left: 2%;
  padding-bottom: 10px;
  object-fit: contain;
  display: inline-block;
}

.fresa4 {
  width: 58px;
  height: 186px;
  box-shadow: 0 62px 34px 0 rgba(0, 0, 0, 0.06);
}

.BG-mob {
  position: initial;
  width: 100%;
  height: auto;
  background-image: linear-gradient(20deg, #ffffff 0%, #ffffff 0%, transparent 0%), linear-gradient(5deg, #ffffff 0%, #ffffff 6%, #ebacac 0%, #f9e6e6);
}
@media (min-width: 767px) {
  .BG-mob {
    background-image: linear-gradient(20deg, #ffffff 0%, #ffffff 0%, transparent 0%), linear-gradient(5deg, #ffffff 0%, #ffffff 8%, #ebacac 0%, #f9e6e6);
  }
}
@media (min-width: 1023px) {
  .BG-mob {
    background-image: linear-gradient(20deg, #ffffff 0%, #ffffff 0%, transparent 0%), linear-gradient(6deg, #ffffff 0%, #ffffff 12%, #ebacac 0%, #f9e6e6);
  }
}
@media (min-width: 1080px) {
  .BG-mob {
    background-image: linear-gradient(20deg, #ffffff 0%, #ffffff 0%, transparent 0%), linear-gradient(5deg, #ffffff 0%, #ffffff 12%, #ebacac 0%, #f9e6e6);
  }
}
@media (min-width: 1319px) {
  .BG-mob {
    background-image: linear-gradient(20deg, #ffffff 0%, #ffffff 0%, transparent 0%), linear-gradient(3deg, #ffffff 0%, #ffffff 10%, #ebacac 0%, #f9e6e6);
  }
}

.product-img {
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10%;
}
@media (min-width: 1023px) {
  .product-img {
    margin-top: 0%;
    display: inline-block;
    margin-top: 100px;
    margin-left: 10%;
    width: 39%;
    box-sizing: border-box;
  }
}

.fresa-bebible-1-1 {
  padding-top: 24.5px;
}

.product-description {
  margin-top: -12%;
  width: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 1%;
}
@media (min-width: 1023px) {
  .product-description {
    margin-top: 220px;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    vertical-align: top;
  }
}
.product-description ul {
  padding: 0;
}
.product-description ul li {
  display: inline;
  margin-left: 3%;
  display: inline;
  list-style-type: none;
}
.product-description ul li a {
  padding: 2px 30px 2px 30px;
  text-decoration: none;
  border-radius: 40px;
  border: solid 1px rgba(0, 0, 0, 0.86);
  color: #000000;
}
.product-description ul li a.active {
  border: solid 1px rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 0, 0, 0.1);
}

.product-review {
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

@media (min-width: 1023px) {
  .p-btn-primary {
    text-align: left;
    margin-left: 2%;
  }
}

.btn-primary {
  margin-top: 20px;
  font-weight: 400;
  background-color: #78246d;
  color: #ffffff;
  border: none;
}
@media (min-width: 320px) {
  .btn-primary {
    font-size: 32px;
    width: 90%;
    height: 90px;
  }
}
@media (min-width: 1023px) {
  .btn-primary {
    width: 243px;
    font-size: 14px;
    height: 40px;
  }
}

@media (min-width: 1023px) {
  .nutrimental {
    box-sizing: border-box;
  }
}
@media (min-width: 1023px) {
  .nutrimental .nutrimental-info {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;
    margin-left: 15%;
    vertical-align: top;
  }
}
.nutrimental .p-nutrimental-info {
  letter-spacing: 6.41px;
}
@media (min-width: 1023px) {
  .nutrimental .p-nutrimental-info {
    margin-left: 8%;
  }
}

.img-fresas-01 {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
}
@media (min-width: 320px) {
  .img-fresas-01 {
    left: 85%;
  }
}
@media (min-width: 1080px) {
  .img-fresas-01 {
    left: 90%;
  }
}

.img-fresas-4 {
  position: absolute;
  left: 0;
}
@media (min-width: 320px) {
  .img-fresas-4 {
    visibility: hidden;
  }
}
@media (min-width: 1023px) {
  .img-fresas-4 {
    left: 0;
    visibility: visible;
  }
}
@media (min-width: 1080px) {
  .img-fresas-4 {
    left: 0;
    visibility: visible;
    bottom: 15%;
  }
}

.img-fresas-5 {
  position: absolute;
  left: 0;
}
@media (min-width: 320px) {
  .img-fresas-5 {
    visibility: hidden;
  }
}
@media (min-width: 1023px) {
  .img-fresas-5 {
    left: 0;
    visibility: visible;
  }
}
@media (min-width: 1080px) {
  .img-fresas-5 {
    left: 0;
    visibility: visible;
  }
}

.img-fresas-9 {
  position: absolute;
}
@media (min-width: 320px) {
  .img-fresas-9 {
    visibility: hidden;
  }
}
@media (min-width: 1023px) {
  .img-fresas-9 {
    left: 12%;
    margin-top: 53%;
    visibility: visible;
  }
}
@media (min-width: 1080px) {
  .img-fresas-9 {
    left: 12%;
    margin-top: 38%;
    visibility: visible;
  }
}

.img-fresa {
  position: absolute;
  left: 0;
}
@media (min-width: 1023px) {
  .img-fresa {
    left: 0;
    margin-top: 50%;
  }
}
@media (min-width: 1080px) {
  .img-fresa {
    left: 0;
    margin-top: 35%;
  }
}

.bg-tablas {
  background-color: #fafafa;
  margin-left: 3%;
  margin-right: 3%;
}
@media (min-width: 1023px) {
  .bg-tablas {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;
  }
}
.bg-tablas table {
  width: 100%;
  font-family: OpenSans;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: right;
  color: #78246d;
  border-collapse: separate;
  border-spacing: 2px;
}
@media (min-width: 1023px) {
  .bg-tablas table {
    font-size: 16px;
  }
}
.bg-tablas table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.bg-tablas table tr td {
  padding: 2px 5px 2px 5px;
}
.bg-tablas table tr td:first-child {
  width: 70%;
  text-align: right;
}
.bg-tablas table tr td:last-child {
  width: 30%;
  text-align: left;
}

.Vitalnea-Bebible-G {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 4%;
}

.certificate-logos {
  text-align: center;
}
@media (min-width: 1023px) {
  .certificate-logos {
    position: absolute;
    bottom: 35%;
    left: 51%;
  }
}
@media (min-width: 1319px) {
  .certificate-logos {
    bottom: 35%;
  }
}
.certificate-logos .fmd-interior {
  width: 120px;
  height: 120px;
}
@media (min-width: 767px) {
  .certificate-logos .fmd-interior {
    width: 80px;
    height: 80px;
  }
}
.certificate-logos .no-sugar-ribbon {
  width: 152px;
  height: 120px;
}
@media (min-width: 767px) {
  .certificate-logos .no-sugar-ribbon {
    width: 110px;
    height: 80px;
  }
}
@media (min-width: 1023px) {
  .certificate-logos .fmd-interior {
    width: 62px;
    height: 62px;
  }
  .certificate-logos .no-sugar-ribbon {
    width: 92px;
    height: 62px;
  }
}

.arrow-down {
  text-align: center;
}
.arrow-down .oval-d {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 15px;
  background-color: #78246d;
  transform: rotate(0deg);
}
@media (min-width: 1023px) {
  .arrow-down .oval-d .oval-d {
    border-radius: 50%;
    padding: 10px;
    background-color: #78246d;
    transform: rotate(0deg);
  }
}

.bg-familia-vitalinea {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  background-image: url(../resources/img/bg-familia-vitalinea.png);
  overflow-x: auto;
  white-space: nowrap;
}
.bg-familia-vitalinea ul {
  text-align: center;
}
.bg-familia-vitalinea ul li {
  display: inline;
  margin-left: 3%;
  display: inline;
  list-style-type: none;
}
.bg-familia-vitalinea ul li p {
  display: inline-grid;
  text-align: center;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}
.bg-familia-vitalinea ul li img {
  vertical-align: text-bottom;
}
.bg-familia-vitalinea p.title-familia-vitalinea {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
  text-align: center;
  padding-top: 7%;
}

.footer {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.footer .privacity p {
  text-align: center;
  margin: 0;
  font-size: 9px;
}
@media (min-width: 1023px) {
  .footer .privacity p {
    visibility: hidden;
  }
}
.footer .all-rights-reserved p {
  margin: 0;
  font-size: 10px;
  text-align: center;
}
@media (min-width: 1023px) {
  .footer .all-rights-reserved p {
    visibility: hidden;
  }
}
.footer .logo-danone-footer {
  display: inline-block;
  width: 49%;
  text-align: left;
  font-family: OpenSans;
}
.footer .logo-danone-footer img {
  width: 77px;
  height: 77px;
}
.footer .logo-danone-footer p {
  display: none;
  vertical-align: top;
}
@media (min-width: 1023px) {
  .footer .logo-danone-footer p {
    display: inline-block;
  }
}
.footer .logo-footer {
  display: inline-block;
  width: 49%;
  text-align: right;
}
.footer .logo-footer img {
  width: 89px;
  height: 40px;
  margin-bottom: 25px;
}

@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Light);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Regular);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: OpenSans;
  src: local(OpenSans);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.Text-Style-2 {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}

.Text-Style-3 {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}
@media (min-width: 320px) {
  .Text-Style-3 {
    font-size: 28px;
  }
}

.Text-Style {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Text-Style-6 {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Text-Style-4 {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Text-Style-1 {
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Text-Style-5 {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
@media (min-width: 320px) {
  .Text-Style-5 {
    font-size: 13px;
  }
}

/*# sourceMappingURL=index.css.map */
